[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FLSSS"]
	path = FLSSS
	url = https://github.com/cran/FLSSS
[submodule "SimJoint"]
	path = SimJoint
	url = https://github.com/cran/SimJoint
